@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --Purple: #3B3170;
  --DarkPurple: #271F4F;
  --LightPurple: #9183ba;
  --Dark: #171233;
  --White: #FFFFFF;
  --Yellow: #F5DF60;
}

@media (prefers-color-scheme: dark) {
  :root {
    --Purple: #3B3170;
    --DarkPurple: #271F4F;
    --LightPurple: #9183ba;
    --Dark: #171233;
    --White: #FFFFFF;
    --Yellow: #F5DF60;
  }
}

body {
  color: rgb(var(--White));
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
